<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,2},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,2},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,2},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,2},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,166},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,350},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,534},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,718},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,166},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,166},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/4bzd/00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,166},{180,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>4bzd.png</string>
			<key>realTextureFileName</key>
			<string>4bzd.png</string>
			<key>size</key>
			<string>{920,900}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>920</integer>
			<key>height</key>
			<integer>900</integer>
		</dict>
	</dict>
</plist>