<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/Animation/Arena_heart/loving heart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{90,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,83}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/Arena_heart/loving heart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,1},{90,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,83}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/Arena_heart/xin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1},{56,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,62}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/Arena_heart/xin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1},{68,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Arena_heart.png</string>
			<key>realTextureFileName</key>
			<string>Arena_heart.png</string>
			<key>size</key>
			<string>{333,85}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>333</integer>
			<key>height</key>
			<integer>85</integer>
		</dict>
	</dict>
</plist>