<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,2},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,206},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,292},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,496},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,700},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,700},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,804},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,818},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,904},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,908},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1012},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,818},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,878},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,878},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,922},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,922},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,982},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1082},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1026},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1108},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1116},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1220},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,1026},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1086},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1130},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,1130},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1190},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/bxx0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1286},{100,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj04.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,2},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj05.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,2},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj06.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,206},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj07.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,206},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,292},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj09.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,410},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,496},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj11.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,410},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj12.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,410},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj13.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,614},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj14.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,614},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/cj15.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,644},{230,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,200}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/jidan_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1234},{155,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,123}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/cjdzd/lx_wgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{415,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{415,286}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cjdzd.png</string>
			<key>realTextureFileName</key>
			<string>cjdzd.png</string>
			<key>size</key>
			<string>{1024,1488}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1488</integer>
		</dict>
	</dict>
</plist>