<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/beated_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/bishi_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/bishi_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/cool_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/huaixiao_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/huaixiao_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/huaixiao_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/huaixiao_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/huaixiao_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/innocent_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/innocent_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/loser_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/loser_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/loser_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/loser_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/loser_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/loser_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/qian_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/qian_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/qian_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,310},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/qian_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/qian_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,618},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/sexy_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,772},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/sexy_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,926},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1080},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1234},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1388},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1696},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1850},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/zan_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/facial/chouyan_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,464},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>facial.png</string>
			<key>realTextureFileName</key>
			<string>facial.png</string>
			<key>size</key>
			<string>{2002,2002}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2002</integer>
			<key>height</key>
			<integer>2002</integer>
		</dict>
	</dict>
</plist>