<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th01.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,318},{50,51}}</string>
				<key>offset</key>
				<string>{5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th02.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,580},{51,50}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th03.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,203},{53,52}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th04.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,260},{54,50}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th05.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,519},{58,57}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th06.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,519},{62,62}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th07.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,539},{65,62}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th08.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,579},{66,63}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th09.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,510},{67,65}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th10.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,602},{65,63}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th11.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,519},{66,62}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th12.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,535},{67,63}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th13.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,470},{66,65}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th14.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,402},{68,64}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th15.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,372},{68,65}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/th16.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,441},{68,65}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,132},{353,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,111}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,520},{110,108}}</string>
				<key>offset</key>
				<string>{171,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,489},{128,132}}</string>
				<key>offset</key>
				<string>{158,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,367},{147,163}}</string>
				<key>offset</key>
				<string>{149,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,203},{160,195}}</string>
				<key>offset</key>
				<string>{144,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,334},{181,194}}</string>
				<key>offset</key>
				<string>{119,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,132},{215,198}}</string>
				<key>offset</key>
				<string>{63,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,201},{216,197}}</string>
				<key>offset</key>
				<string>{28,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{251,197}}</string>
				<key>offset</key>
				<string>{-30,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,2},{240,195}}</string>
				<key>offset</key>
				<string>{-84,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,534},{181,190}}</string>
				<key>offset</key>
				<string>{-126,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,367},{164,179}}</string>
				<key>offset</key>
				<string>{-135,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,402},{114,121}}</string>
				<key>offset</key>
				<string>{-159,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{556,256}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,2},{361,118}}</string>
				<key>offset</key>
				<string>{3,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,268}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,155},{18,18}}</string>
				<key>offset</key>
				<string>{-2,53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,199},{18,17}}</string>
				<key>offset</key>
				<string>{-2,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,177},{18,18}}</string>
				<key>offset</key>
				<string>{-2,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,322},{19,19}}</string>
				<key>offset</key>
				<string>{-2,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,345},{19,19}}</string>
				<key>offset</key>
				<string>{-2,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,132},{19,19}}</string>
				<key>offset</key>
				<string>{-2,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,226},{20,20}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,250},{20,20}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,274},{20,20}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,298},{20,20}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,178},{21,20}}</string>
				<key>offset</key>
				<string>{-2,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,78},{21,21}}</string>
				<key>offset</key>
				<string>{-2,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,202},{21,20}}</string>
				<key>offset</key>
				<string>{-2,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,103},{21,21}}</string>
				<key>offset</key>
				<string>{-2,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,128},{21,21}}</string>
				<key>offset</key>
				<string>{-2,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,153},{21,21}}</string>
				<key>offset</key>
				<string>{-2,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,28},{22,21}}</string>
				<key>offset</key>
				<string>{-2,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,53},{22,21}}</string>
				<key>offset</key>
				<string>{-2,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_lx0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,2},{22,22}}</string>
				<key>offset</key>
				<string>{-2,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_mh.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,2},{368,126}}</string>
				<key>offset</key>
				<string>{3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{580,280}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_sss.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,535},{96,104}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>GameCocosStudio/plist/Animation/gd_ths/ths_xx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,635},{102,96}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,115}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gd_ths.png</string>
			<key>realTextureFileName</key>
			<string>gd_ths.png</string>
			<key>size</key>
			<string>{1019,733}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>733</integer>
		</dict>
	</dict>
</plist>