<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,669},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/btn_left_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,284},{189,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/btn_left_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1899,228},{209,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/btn_top_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,939},{381,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{381,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/btn_top_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,228},{203,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/decorate_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,2},{340,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,222}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/decorate_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,609},{67,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/djslq_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,830},{160,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/djslq_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,895},{162,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/gg_Di.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,895},{40,576}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,576}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/gghd_HuoDongDi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,399},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/gghd_top_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,751},{1112,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1112,75}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/gghd_TouMingDi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,228},{206,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,208}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/h_ac_notice_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,830},{672,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{672,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/h_ac_qianwan_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,934},{218,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/hfl_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,830},{94,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/hfl_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,680},{98,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/jchd_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,867},{137,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/jchd_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,867},{139,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/jchd_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,909},{176,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/jxdb_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,830},{126,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/jxdb_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,265},{130,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/label_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,680},{56,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,49}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/label_newest.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,680},{56,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,49}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/label_xs.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,609},{56,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,49}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/left_yeqian_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,939},{230,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/NoActivity.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,143},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/Nogg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,435},{118,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/Nothing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,2},{508,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,278}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/notice_yellow_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{745,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{745,450}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/yxgg_nomal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,2},{137,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/yxgg_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,867},{139,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ActivityCenter/yxgg_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,909},{170,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ActivityCenter.png</string>
			<key>realTextureFileName</key>
			<string>ActivityCenter.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>