<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,762},{248,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,251}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_boy_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,837},{100,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,2},{300,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,378}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_default_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,384},{337,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,307}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_default_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,725},{100,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,2},{156,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,149}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_girl_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,829},{100,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,606},{95,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_nick_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,800},{127,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_table_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,155},{343,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,343}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,810},{242,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_room_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,847},{250,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_anchor_table_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,933},{84,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,101}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_room_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,762},{274,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,104}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{756,622}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{756,622}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_rule_is_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,941},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_rule_is_check_password.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,725},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_rule_no_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,725},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_rule_no_check_password.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,801},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_rule_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,79},{159,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,42}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_rule_value_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,870},{478,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{478,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_create_rule_value_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,606},{298,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,2},{600,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,493}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,2},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,502},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,579},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,502},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,579},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,579},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,656},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,733},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,847},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,656},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,733},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_normal_reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,646},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,924},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,723},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,646},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,842},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,723},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1446,606},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1222,919},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,800},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,683},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,877},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,760},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_press_reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,837},{162,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_title_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,762},{278,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,81}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_title_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,928},{278,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,81}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_password_value_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,928},{324,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,63}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_sure_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,925},{188,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/AnchorRoom/img_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,941},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>AnchorRoom.png</string>
			<key>realTextureFileName</key>
			<string>AnchorRoom.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>