<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,180},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,180},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,349},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,406},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,2},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,171},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,2},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,171},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,2},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,171},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jchdsg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,340},{165,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,180},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,358},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,424},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,2},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,180},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,2},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,180},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,358},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,424},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,2},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,180},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btnAniCopy/jybsg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,2},{174,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>btnAniCopy.png</string>
			<key>realTextureFileName</key>
			<string>btnAniCopy.png</string>
			<key>size</key>
			<string>{582,507}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>582</integer>
			<key>height</key>
			<integer>507</integer>
		</dict>
	</dict>
</plist>