<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonInside.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,752},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_EditBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,752},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/MoreGameBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,849},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_TitleBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1044},{434,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,89}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_TitleBG3.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,942},{428,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/MoreGameBack_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,823},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_ItemBG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,4},{110,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_ItemBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,176},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Item_BoxBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,491},{146,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Connect_BtnExam.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,687},{164,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Connect_Text3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1030},{308,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Dot_Num.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,499},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_TitleBG22.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1141},{920,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{920,89}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonBG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,495},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Mail_TagReward.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,630},{118,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,122},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/MoreGame_Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,923},{428,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/HallBtnClose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,102},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Arena_btn_close1.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,499},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Arena_btn_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,593},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Common_Loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,336},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,697},{194,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,783},{194,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Red.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,763},{194,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,837},{194,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_BtnBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,495},{162,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,127}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_BtnCommon.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,645},{134,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/hall_close_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,768},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_CommonTextBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,816},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_EditBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,692},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/hall_exit_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,779},{75,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_ItemUnitLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,4},{4,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_ItemUnitTextBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,707},{114,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/HallBtnClose2.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,692},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/hongdian_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,152},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Upgrade_Img_rewardBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,4},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Upgrade_Img_rewardExchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,377},{137,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,114}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Upgrade_Img_rewardSilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,200},{111,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/btn_queding.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,495},{202,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/btn_quxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,596},{202,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonBG1_InviteGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{713,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{713,483}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Close_InviteGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,280},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Common.png</string>
			<key>realTextureFileName</key>
			<string>Common.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>