<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Email_Img/btn_lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,118},{216,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,101}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/btn_queding.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,334},{216,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,101}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/btn_shanchu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,550},{216,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,101}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/btn_shanchuyidu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,303},{216,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,101}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/btn_yijianlingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,404},{216,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,101}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/duihuanquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,455},{93,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,96}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/fengexian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,0},{462,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,2}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/fujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,118},{76,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/guangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,0},{413,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{413,417}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Hall_Btn_youjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,413},{92,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,82}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Hall_hongdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,194},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_daojukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,413},{93,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,96}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_daojukuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,413},{93,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,96}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_emailtab.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,0},{499,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{499,118}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_liwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,505},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_liwu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,505},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_liwukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,548},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_wuyoujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,118},{231,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_yiling.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,574},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_youjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,548},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Img_youjian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,574},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Tips_hongdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,225},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/Tips_lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1114,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1114,538}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/title_lingquchenggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,462},{202,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/title_xitongyoujian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,664},{162,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,42}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/title_xitongyoujian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,118},{337,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/wenzibeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,495},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/wuyoujiantishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,118},{570,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{570,43}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/xingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,495},{47,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Email_Img/yinzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,413},{93,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Email_Img.png</string>
			<key>realTextureFileName</key>
			<string>Email_Img.png</string>
			<key>size</key>
			<string>{2046,826}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2046</integer>
			<key>height</key>
			<integer>826</integer>
		</dict>
	</dict>
</plist>