<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/btn_exchange_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,513},{61,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_exchitem_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{222,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_exchticket_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,582},{57,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_tab_text_phonefee.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,513},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_tab_text_phonefee2.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,523},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_tab_text_realitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,557},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_tab_text_realitem2.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,597},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_text_exchange_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,672},{124,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_text_exchange_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,491},{163,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_text_exchange_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,350},{165,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,43}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_text_exchange_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,672},{124,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_text_norecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,610},{118,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_text_ticketnum.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,216},{126,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_text_exchangecenter.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,610},{129,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_CardRecorder.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,4},{117,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,123}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_Img_Iphone.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,420},{85,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,112}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_Img_Telephonerate1.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,4},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_Img_Telephonerate10.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,110},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_Img_Telephonerate100.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,98},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_Img_Telephonerate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,204},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_Img_Telephonerate5.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,129},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_Img_Telephonerate50.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,310},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Exchange_Img_Telephonerate500.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,216},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,98},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods2.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,226},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods3.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,235},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods4.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,354},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods5.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,416},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods6.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,322},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods7.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,363},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods8.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,482},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/Goods9.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,544},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/exchange_img_new/img_text_exchange_failed.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,491},{163,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>exchange_img_new.png</string>
			<key>realTextureFileName</key>
			<string>exchange_img_new.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>