<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Btn_Buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1310},{215,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Btn_Draw.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1067},{235,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Text_Lightning.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,957},{128,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_BottomBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,267},{53,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,256}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1093},{147,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_BuyBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,282},{258,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,63}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_DrawOne.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,156},{105,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_DrawTen.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,269},{105,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,4},{193,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,183}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_ItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1067},{155,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,145}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_RightBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{255,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,437}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,4},{310,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,144}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Text_Buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,4},{137,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Text_emoj.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,149},{125,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Silver1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1220},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Silver2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1366},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Silver3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1512},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Silver4.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,957},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Ticket1.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1144},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Ticket2.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1056},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Ticket3.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1103},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Lightning.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,1315},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/1tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1202},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/30tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1248},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/7tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1249},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/Img_Ticket4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1348},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,156},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,195},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,195},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,256},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,267},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,267},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,367},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,467},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,529},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,567},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,667},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,767},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,356},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,456},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/lz_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,457},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,556},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,557},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,620},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,656},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,657},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,756},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,791},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,867},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,967},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,757},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,856},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,857},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,882},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,956},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/anniu/sg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1053},{254,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ExchangeLottery/zhuangguang/g_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,548},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ExchangeLottery.png</string>
			<key>realTextureFileName</key>
			<string>ExchangeLottery.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>