<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/AwardBubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,900},{97,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,137}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Btn_Play.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1220},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Btn_qgBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,861},{235,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRecharge_Bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{977,681}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{977,681}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRecharge_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,1045},{81,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,97}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRecharge_Line.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,693},{109,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,3}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRecharge_Taked.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,693},{160,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRechargeIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,1085},{197,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,106}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Give.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1023},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/HasTaken.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1377},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_Silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1083},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,693},{826,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{826,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1220},{828,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{828,104}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_today_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1141},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_today_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1141},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_tom_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,955},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_tom_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,955},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_tri_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1112},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Img_tri_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1661},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/LimitTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,693},{199,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/OutDate.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,917},{160,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1023},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Progress1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,614},{598,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{598,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/ProgressBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,4},{602,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{602,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/SmallTaked.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,693},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/TakeAward.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1818},{149,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Taked.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,693},{160,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/Unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,861},{160,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRecharge_Silver1.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,831},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRecharge_Silver2.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,964},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRecharge_Silver3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1527},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/FirstRecharge_Silver4.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1332},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/FirstRecharge/card_maker.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,693},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FirstRecharge.png</string>
			<key>realTextureFileName</key>
			<string>FirstRecharge.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>