<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,755},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_Arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,777},{46,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,88}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1541,757},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_Complete.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,707},{237,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_GetScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,761},{154,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btn_jiesuan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,628},{179,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/btn_jiesuan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,828},{179,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_OneKeyGet.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,707},{181,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_Play.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,873},{241,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_Reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,707},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_Rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,759},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,829},{205,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_Unlock1.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,884},{230,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_unlock2.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,884},{230,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/dt_ty_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,785},{223,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,41}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/dt_ty_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,785},{207,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/hall_exit_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,702},{75,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_BG3.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,962},{201,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_BG5.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,962},{201,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,915},{189,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,82}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,829},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,829},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Cover2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,890},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_FreeGet.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,947},{241,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_GoldCup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,4},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_ItemBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,824},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_ItemBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,814},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_LevelBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,628},{104,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,884},{96,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,3}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1010},{3,432}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{3,432}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,702},{45,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,51}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_OneKeyGet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,768},{181,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,862},{551,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{551,14}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_progressBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,838},{553,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{553,16}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_RewardBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,901},{101,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,224}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_RewardBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,895},{101,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_SeasonBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,707},{186,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,186}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/img_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,646},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Silver1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,336},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Silver2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,482},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Silver3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,336},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Silver4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,482},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_SilverCup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,170},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Ticket1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1446,4},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Ticket2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1446,150},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Ticket3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,296},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Ticket4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,442},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Unlocked.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,707},{230,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Img_Vertical.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{1268,695}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1268,695}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,707},{225,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,123}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Text_GoldCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,837},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Text_GoldSilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,837},{98,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Text_Rewarded.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,707},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Text_Rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,962},{130,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,32}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Text_SilverCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,831},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/transparency.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,588},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/X.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,759},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Btn_Reward1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,705},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/Text_Rewarded1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,705},{86,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/GoldSilver_Lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,759},{61,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/GoldSilver_LockBG_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,905},{129,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/GoldSilver_LockBG_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1574,900},{129,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_ImgCopy/kong.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1002},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GoldSilver_ImgCopy.png</string>
			<key>realTextureFileName</key>
			<string>GoldSilver_ImgCopy.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>