<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,708},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_Complete.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,4},{237,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_GetScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,378},{129,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_OneKeyGet.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,782},{304,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_Play.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,4},{241,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_Reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,432},{99,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,42}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_Arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,701},{46,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,88}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_Rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,418},{61,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,782},{205,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_Unlock1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,882},{299,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Btn_unlock2.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,4},{299,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_BG3.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,515},{201,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_BG5.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,450},{201,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,253},{189,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,82}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,579},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,310},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_FreeGet.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,4},{241,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_ItemBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,308},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_ItemBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,293},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_LevelBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,575},{118,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1013},{96,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,3}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1013},{3,432}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{3,432}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,706},{45,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,51}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_OneKeyGet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,782},{304,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,982},{525,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_progressBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,249},{525,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{525,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_RewardBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,773},{101,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,286}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_RewardBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,868},{101,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,203}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_SeasonBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,579},{186,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,186}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Vertical.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{101,567}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,567}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Text_GoldSilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,250},{98,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Text_Rewarded.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,507},{64,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Text_Rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,249},{130,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,32}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/hall_exit_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,253},{75,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/img_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,706},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/dt_ty_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,510},{207,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/dt_ty_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,721},{223,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,41}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,406},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Silver1.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,868},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Silver2.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,575},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Silver3.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,104},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Silver4.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,562},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Ticket1.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,104},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Ticket2.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,560},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Ticket3.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,250},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Ticket4.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,396},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_GoldCup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,4},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_SilverCup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,157},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Text_GoldCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,387},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Text_SilverCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,447},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/X.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,491},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,868},{225,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,123}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/transparency.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,706},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Unlocked.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,4},{299,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{299,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/Img_Cover2.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,310},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/btn_jiesuan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,4},{179,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GoldSilver_Img/btn_jiesuan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,191},{179,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GoldSilver_Img.png</string>
			<key>realTextureFileName</key>
			<string>GoldSilver_Img.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>