<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1128,647}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1128,647}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_BtnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,206},{63,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_BtnMult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1578,206},{237,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,96}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_BtnOne.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1951},{238,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,95}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_ItemSlect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,911},{172,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,1245},{159,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,154}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_TipBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,1951},{129,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/Img_GratitudeRepayIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,1536},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,206},{85,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,2002},{31,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,20}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,2002},{18,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,20}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,2002},{22,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,20}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,2028},{24,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,17}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,2002},{60,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,43}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/huodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,2002},{101,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,41}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,904},{172,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,718},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,718},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1283},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1479},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1283},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,1072},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,718},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1479},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,306},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,502},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,1268},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,1464},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1660,1049},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,698},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/lx_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,295},{192,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,182}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/niu_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,1408},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/paixing_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,1013},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/pao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,904},{197,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,141}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1848},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1848},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,326},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,927},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,326},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,326},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,2},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,156},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,310},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1132},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1797},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1081},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1081},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1081},{597,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{597,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,1675},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,1784},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,1893},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1807,904},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,2},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,111},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2236,2},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,491},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,220},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2043,600},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2113,470},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2158,220},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2267,220},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2274,111},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/sg2_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2486,2},{246,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/GratitudeRepayAni/shuzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2002},{123,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/ItemIcon_Deposit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,310},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/ItemIcon_Deposit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,514},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/ItemIcon_Deposit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1079},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/ItemIcon_Deposit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,310},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/ItemIcon_Deposit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,514},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/ItemIcon_Deposit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1578,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/ItemIcon_Deposit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1782,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_guize.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1134},{710,648}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{710,648}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1081},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/Hall_Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,206},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/Hall_TitleBG22.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1733},{924,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{924,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/Hall_Box_CommonBG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,2},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/Hall_TitleBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1446,1951},{269,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/GratitudeRepay/img_jxdb_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,2002},{125,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GratitudeRepay.png</string>
			<key>realTextureFileName</key>
			<string>GratitudeRepay.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>