<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,108},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,454},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_email.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,308},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,194},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,280},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_firstrecharge_pack.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,344},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,108},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_friend_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,2},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_game_legend.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,2},{94,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_gamepack.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,344},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_goldsilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,2},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,174},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_login_pack.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,104},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,394},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_month_pack.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,2},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,280},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_packset.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,104},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_ppl.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,206},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_quickstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{276,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,101}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_recharge_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,2},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_safebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,194},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,88},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,88},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{106,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_task.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,2},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_timelimit_pack.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,104},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_toprank.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,308},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_yule_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,366},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/img_yuletip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,454},{68,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/TelephoneLable.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,2},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/Hall_Btn_MoreGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,206},{80,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/img_cg_weixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,282},{255,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/img_weixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,446},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_preferentialrecharge_pack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,206},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/hall_img/btn_weekMonthSuperCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,410},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_img.png</string>
			<key>realTextureFileName</key>
			<string>hall_img.png</string>
			<key>size</key>
			<string>{749,510}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>749</integer>
			<key>height</key>
			<integer>510</integer>
		</dict>
	</dict>
</plist>