<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_IconSetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,244},{29,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_DotVerify.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,164},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/RoleIcon_Default.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,396},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_BottomBarLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,60},{4,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_IconNumPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,371},{25,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_Login_Animation.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,401},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_RoleIconBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,308},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_RoleIconMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,474},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_QQShow_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,321},{363,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_PinBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,500},{181,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_RoleIconBG_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,309},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_IconPing1.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,407},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_IconPing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,407},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_IconPing3.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,437},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_IconPing4.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,309},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_Battery.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,282},{39,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,18}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_BatteryProgress.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,467},{28,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,10}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_IconPing5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,244},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_IconPing6.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,437},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_Btn_IconID.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,341},{32,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_LoginBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,423},{71,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_LoginIconTCY.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,60},{42,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_LoginIconWechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,112},{42,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_DownloadProgressBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,432},{237,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,9}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_DownloadProgressBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,449},{237,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,9}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/img_playerinfo_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,369},{248,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Game_enter_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{422,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,309}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Game_tips_four.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,432},{202,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Game_tips_two.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,455},{202,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_bg_NumPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,207},{34,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,29}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_Btn_Daily.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,286},{108,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_Btn_Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,286},{108,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_Btn_QuickCharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,4},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_Btn_Setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,309},{108,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_Icon_NumPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,371},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_PlayerInfoBG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,4},{523,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{523,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_PlayerInfoBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,176},{250,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_RoomPic2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,176},{263,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,125}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/Hall_RoomPic4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,369},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Hallmain_Img/text_firstchargegift.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,485},{95,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Hallmain_Img.png</string>
			<key>realTextureFileName</key>
			<string>Hallmain_Img.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>