<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/huafei/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{994,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{994,644}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1894},{57,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/btn_duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1732},{177,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/btn_duihuan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1239},{60,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/btn_duihuan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1394},{60,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,650},{413,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{413,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1839},{98,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,51}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/btn_lianchong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1539},{60,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/btn_lianchong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,1539},{60,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/diban_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,650},{585,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{585,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/fan.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1732},{86,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/img_buqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1031},{80,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/img_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,878},{199,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,149}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/jindutiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,878},{657,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{657,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/jindutiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,1067},{661,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{661,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/kuang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,650},{214,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,252}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/kuang_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,650},{421,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{421,252}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/qiandao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,1957},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/qiandao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1957},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/qiandao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1894},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/yuankuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1031},{151,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/title_huafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1115},{92,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,27}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1732},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/Btn_huafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1913},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/img_suijidaoju.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,650},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/img_suijidaoju2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,868},{224,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,224}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>huafei.png</string>
			<key>realTextureFileName</key>
			<string>huafei.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>