<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,699},{16,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,730},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,917},{314,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,106}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,561},{136,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/btn_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,974},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/btn_rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,561},{105,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/headmask.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,699},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/invite_items1.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,800},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/invite_items2.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,737},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/invite_items3.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,800},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/invite_items4.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,561},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/invite_items5.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,503},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,377},{182,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,238}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/papo.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,917},{208,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/record_detailbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,503},{412,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{412,371}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/record_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1016},{451,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{451,3}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/reward_unitbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1},{186,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,242}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/reward_unitbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,189},{186,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,242}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/rules_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{778,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{778,500}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/rules_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,668},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/InviteGift_Img/tag_rewarded.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,974},{120,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>InviteGift_Img.png</string>
			<key>realTextureFileName</key>
			<string>InviteGift_Img.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>