<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Btn_lijigoumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,4},{231,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Img_5zhe.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1163},{184,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Img_8zhe.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1355},{184,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Img_baoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,1252},{120,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,118}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Img_caitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,243},{157,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Img_shijiandi.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,243},{452,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,42}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Img_tehui.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,1144},{184,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Img_xiangou.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,408},{140,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Img_yinzidi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1144},{166,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,176}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/Tips_xianshigou.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{890,484}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{890,484}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_12yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,496},{452,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_12yuanHJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,703},{452,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,139}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_1yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,496},{452,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,139}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_1yuanHJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,496},{452,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,139}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_28yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,703},{452,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_3yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,496},{452,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,139}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_3yuanHJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,850},{452,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,139}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_6yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,956},{452,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,139}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_6yuanHJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,956},{452,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,139}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_98yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,956},{452,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/limitTimeGift_Img/title_98yuanHJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,997},{452,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,139}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>limitTimeGift_Img.png</string>
			<key>realTextureFileName</key>
			<string>limitTimeGift_Img.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>