<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/huiyuanshuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1238},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/iconzhuanpan.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1405},{65,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_daojukuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1629},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_qiandaojiangli1.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1221},{91,60}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_qiandaojiangli2.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1119},{111,72}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_qiandaojiangli3.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1029},{104,99}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_qiandaojiangli4.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1286},{111,112}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/jiangpin.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,436},{383,387}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{468,468}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/lottery_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,827},{451,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{451,112}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/qiandaobeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,436},{340,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/qiandaojiangp.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1289},{119,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,41}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/qianzhibeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,827},{865,132}}</string>
				<key>offset</key>
				<string>{2,-237}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{915,619}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,827},{194,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/title_gongxihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,784},{203,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,4},{53,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/zhizhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1136},{77,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,91}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/guang1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1566},{177,177}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,188}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_Check.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1289},{54,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,41}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_Cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,995},{116,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_DayBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,65},{54,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_Go.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1751},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_GoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1388},{151,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,170}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_ItemBG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1891},{118,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,129}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_ItemBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1700},{118,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,129}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_LotteryBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,4},{424,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{424,424}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_MainBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{1017,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1017,538}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/Img_Tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,127},{21,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,18}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/LuttoryRuleBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1416},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/X.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,1320},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/xz_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,1775},{225,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,222}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LoginLottery_Img/zg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1481},{142,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,147}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LoginLottery_Img.png</string>
			<key>realTextureFileName</key>
			<string>LoginLottery_Img.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>