<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_gzsm.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,955},{146,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_gzsm_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,969},{146,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_jrph.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,272},{86,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,147}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_jrph_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,423},{86,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,147}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_ksks.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,2},{266,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_ksks_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,2},{266,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,78}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_zph.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,574},{86,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,147}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_zph_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,725},{86,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,147}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_zrph.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,825},{86,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,147}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/btn_zrph_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,915},{86,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,147}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/huangguan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,969},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/huangguan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,969},{51,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/huangguan_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,969},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/img_gqphb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,393},{162,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/img_shouji.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,969},{37,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/img_xian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,2},{821,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{821,2}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/img_xian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,2},{832,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{832,2}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/img_xiaoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,515},{306,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,195}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,574},{709,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{709,391}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/rule_introduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{835,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{835,387}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/rule_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,825},{126,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,32}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/rule_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,272},{239,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NationalDayActivity/ziji_ph_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,876},{80,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NationalDayActivity.png</string>
			<key>realTextureFileName</key>
			<string>NationalDayActivity.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>