<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/10yua.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,921},{320,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/btn_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1291},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/btn_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1345},{248,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,95}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/btn_giveup.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,921},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1722},{248,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,95}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/btn_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1164},{324,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,95}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/btn_rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1330},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/dqjdqa.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,686},{474,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{474,284}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/dqjdqb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,921},{248,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,328}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/editbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,984},{303,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/enn.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1245},{324,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,95}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/g2_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1597},{185,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,154}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/gxhddb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{627,650}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{627,650}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/jxlq.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1164},{324,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,95}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/lxwkg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1406},{147,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,159}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/lywkp_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1569},{147,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,159}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/padsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1272},{132,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/paixing_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1406},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/pddty.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1191},{77,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,56}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/pdsz.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1164},{140,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,77}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/pdys.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,1492},{226,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/pdyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,921},{481,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{481,141}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/pdzx.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1408},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/rules_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,49},{24,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/scq.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,633},{646,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{646,284}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,686},{294,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/xcq.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,2},{680,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{680,332}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhiha.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1041},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihb.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,2},{43,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihc.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1291},{41,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihd.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1116},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihe.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1472},{48,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihf.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,77},{25,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,19}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihg.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1308},{33,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihh.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,125},{19,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihi.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,100},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NewUserInviteGift/zhihj.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,148},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NewUserInviteGift.png</string>
			<key>realTextureFileName</key>
			<string>NewUserInviteGift.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>