<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{942,668}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{942,668}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1509},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_buttonbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1387},{344,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_daygift.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1735},{81,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,71}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_giftbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1952},{86,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_giftbigbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,921},{907,584}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{907,584}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_gifticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1952},{79,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_giftlabelbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,674},{253,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,219}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_goshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,361},{172,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,67}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_head10.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1509},{90,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_head12.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,674},{96,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_head15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1735},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1613},{94,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_head5.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1613},{94,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_head7.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,780},{94,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,674},{108,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,106}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1509},{102,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_infobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,674},{400,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,230}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_infobg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,537},{95,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_infobg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,2},{355,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{355,73}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_label.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1841},{102,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,89}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1820},{64,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1603},{96,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,89}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1952},{86,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,674},{26,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_lotterybubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1798},{128,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_MaxLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1947},{150,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_middle.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,836},{29,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_monthgift.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1859},{83,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,75}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,874},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_process1.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,537},{380,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_process2.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,537},{380,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1735},{64,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,776},{56,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,25}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_upgradetake.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,1841},{150,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_upgradeuntake.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1735},{150,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilege_weeklygift.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1946},{84,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,71}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilegeGift_bigarrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1735},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilegeGift_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,784},{110,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilegeGift_member.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1904},{166,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/NobilityPrivilege/NobilityPrivilegeGift_transfersuccess.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,921},{462,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,93}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NobilityPrivilege.png</string>
			<key>realTextureFileName</key>
			<string>NobilityPrivilege.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>