<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/BgRing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1000,1000}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,1000}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/bill_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1618},{395,641}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,641}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/btn_checkrecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1773},{234,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/btn_close_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,129},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,2},{301,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/btn_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,953},{215,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,217}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/Btn_Reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,410},{360,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/papobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,2},{123,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,56}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,2017},{342,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/progress_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1746},{338,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/record_detailbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,2},{502,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{502,302}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/RedPacketClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,508},{441,607}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,607}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/RedPacketOpen.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1006},{447,608}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{447,608}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/tag_dff.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1923},{120,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/ticket_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1006},{764,552}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{764,552}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/title_csjg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1774},{404,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/title_djjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1902},{404,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/title_hydt.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1774},{404,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/title_hyzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1902},{404,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/title_xyhb.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1618},{404,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/title_zhyb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,2},{404,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/toast_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,953},{521,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{521,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/toast_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,427},{521,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{521,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/wechat_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,2011},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,181},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/gettedBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,324},{360,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/icon_xyhb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,210},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/papo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,2},{204,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,81}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/papo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,307},{173,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/papo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1746},{173,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,43}</string>
			</dict>
			<key>hallcocosstudio/images/plist/OldUserPacket/ticket.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,2},{318,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{318,152}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>OldUserPacket.png</string>
			<key>realTextureFileName</key>
			<string>OldUserPacket.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>