<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,484},{50,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_icon_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,247},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_qyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,94},{197,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_bxp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,298},{48,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_bxp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,346},{48,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_jd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,349},{48,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_jd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,349},{48,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,172},{189,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,235},{189,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,298},{189,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,322},{189,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,322},{189,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_s_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,322},{189,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_z_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,361},{129,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_z_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,426},{129,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_ljyl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,2},{343,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,88}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_pm_bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,278},{599,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{599,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_pm_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,62},{599,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{599,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_pm_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,116},{599,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{599,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_pm_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,170},{599,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{599,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_pm_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,224},{599,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{599,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_yuansu.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,2},{17,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,340}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_zpr.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,94},{119,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,149}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_ts_jb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,361},{77,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_ts_jb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,417},{77,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_yeqian_z_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,385},{129,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,61}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,436},{47,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_mengceng.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,487},{643,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{643,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PeakRank/img_pm_bg_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{605,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{605,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PeakRank.png</string>
			<key>realTextureFileName</key>
			<string>PeakRank.png</string>
			<key>size</key>
			<string>{1002,530}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1002</integer>
			<key>height</key>
			<integer>530</integer>
		</dict>
	</dict>
</plist>