<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/zadan/cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1072},{112,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/dan.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,3140},{159,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,179}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/dans.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,518},{159,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/diz.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,4},{195,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,111}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,4},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,4},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,288},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,288},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,288},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,572},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,572},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,572},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,856},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,856},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,856},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1140},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1140},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/gx_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1140},{276,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,282}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/l0.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,638},{31,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,914},{38,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,97}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,786},{62,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/l3.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,786},{76,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,155}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1424},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,1424},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1424},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1660},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1684},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,1660},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1660},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1896},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1920},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1896},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1896},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,2132},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2156},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,2132},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/lz_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,2132},{240,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,228}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/paixing_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,3164},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,949},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1192},{37,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,43}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s3.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1114},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s4.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1061},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s5.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1006},{47,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s6.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1019},{48,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s7.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,207},{60,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,29}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s8.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,4},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/s9.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1166},{46,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/zadan/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,518},{112,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1424},{257,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,252}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/g_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,3140},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/g_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,3140},{151,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,148}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,2368},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2392},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,2368},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,2368},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,2561},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2585},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,2561},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2561},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,2754},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2778},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,2754},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2754},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,2947},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2971},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/gg_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,2947},{221,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/guang1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,2947},{185,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,188}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/hf.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,380},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/p1.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1237},{93,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,112}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,685},{130,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/huafei/p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,207},{108,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PhoneFeeGiftAni.png</string>
			<key>realTextureFileName</key>
			<string>PhoneFeeGiftAni.png</string>
			<key>size</key>
			<string>{1024,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>