<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/broken_process.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,564},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/broken_process_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,676},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/Btn_Draw.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,2},{235,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,572},{154,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/countdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,716},{95,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/countdown_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,2},{196,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/egg.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,772},{159,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,179}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/egg_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,448},{112,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/eggbroken.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,788},{235,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,222}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/fee_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,660},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/gofighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,340},{104,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/hetu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,572},{170,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,142}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/hetu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,572},{140,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,156}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/hetu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,788},{153,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,200}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/hetu_xiaotu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,719},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/huafeili_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{887,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{887,566}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,719},{82,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/lingqu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,241},{235,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/lingqu_ex.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,202},{134,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/tubiao_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,660},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/yilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,719},{98,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PhoneFeeGift/yilingqu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,480},{235,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PhoneFeeGift.png</string>
			<key>realTextureFileName</key>
			<string>PhoneFeeGift.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>