<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/QRCodePay/btn_wxzf.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,2},{215,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/QRCodePay/btn_zfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,65},{215,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/QRCodePay/img_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{301,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/QRCodePay/xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,65},{497,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{497,1}</string>
			</dict>
			<key>hallcocosstudio/images/plist/QRCodePay/hall_exit_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,65},{59,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>QRCodePay.png</string>
			<key>realTextureFileName</key>
			<string>QRCodePay.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>