<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/rechargepool/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1173,679}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1173,679}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,450},{151,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/bj_jqqd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,936},{130,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_cy.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,904},{137,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_gdjli.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,904},{141,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_gdjli_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,904},{141,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_help_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,605},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_jrpming.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,904},{141,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_jrpming_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,685},{141,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,450},{138,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_qwgfen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,2},{337,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,96}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_ylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,592},{138,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_zrpming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,791},{141,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/btn_zrpming_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,830},{141,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/guize_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,685},{433,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{433,238}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/img_hdzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,451},{61,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/img_weihuojiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,516},{68,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/img_weikaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,702},{69,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/shop_icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,734},{166,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,140}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,685},{268,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/title_djc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,343},{90,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,25}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/ziji_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,2},{444,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{444,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/zuo_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,2},{445,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/zuo_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,343},{444,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{444,66}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/Hall_Btn_djc.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,799},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/BtnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,904},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/rechargepool/tip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,605},{93,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>rechargepool.png</string>
			<key>realTextureFileName</key>
			<string>rechargepool.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>