<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1397},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1397},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1440},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1542},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1569},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1782},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1933},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,2098},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1633},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1633},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_anniu/gd_anniu_xx.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1389},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd__choujiang_xingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,971},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,815},{353,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,815},{353,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1036},{353,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,827},{353,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,856},{353,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,856},{353,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,921},{353,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,922},{353,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1936},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chongzhi_sweet/gd_choujiang_chongzhi_glow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1461},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_paomadeng/gd_pmd_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,883},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_caidai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,838},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_caidai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,696},{82,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,25}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_caidai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,932},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1210},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1283},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1217},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1407},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1503},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,1407},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1496},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1693},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_shandaian_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1789},{278,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_tianxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,376},{422,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{422,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_bod.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1869},{143,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,118}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_chibang.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,929},{34,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_chibang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,784},{27,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_danke.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1036},{88,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_danke_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,786},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,578},{110,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,18}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_eyes2.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,376},{112,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_meimao.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,713},{63,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,20}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_meimao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,645},{60,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_mouse.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1010},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_mouse2.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,868},{37,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,56}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_shandian/gd_xiaoji_xx.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,957},{18,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,19}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_xiaoji/gd_xiaoji_chibang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,496},{32,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_xiaoji/gd_xiaoji_chibang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,806},{73,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,92}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_xiaoji/gd_xiaoji_mao.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1174},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_xiaoji/gd_xiaoji_shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,645},{208,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,203}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,2018},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Btn_Draw.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1693},{232,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,97}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Btn_Rewarded.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,906},{122,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1317},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,4},{364,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{364,97}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/jp_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1176},{189,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/jp_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,1015},{189,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/jp_bg_cq.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,645},{199,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,162}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/jp_bg_hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1015},{187,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,1174},{225,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,123}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Silver1.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1644},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Silver2.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1790},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Silver3.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1805},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Ticket.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,2001},{93,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,96}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chouzhong/gd_choujiang_glow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,645},{211,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,174}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_chouzhong/gd_choujiang_glow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,645},{211,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,174}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow00.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1979},{111,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow01.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2075},{111,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow02.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2194},{111,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow03.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2313},{111,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow04.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,1644},{111,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow05.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,1763},{111,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow06.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,1882},{111,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,827},{87,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,67}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/gd_choujiang/gd_glow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1217},{92,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/czyl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{889,633}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{889,633}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Btn_Draw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1335},{232,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,97}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Silver4.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1951},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Silver5.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1995},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Silver6.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,2072},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeActivity/Img_Silver7.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,2102},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RechargeActivity.png</string>
			<key>realTextureFileName</key>
			<string>RechargeActivity.png</string>
			<key>size</key>
			<string>{1024,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>