<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/beilu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1786},{167,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,1965},{75,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,48}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/btn_dianjifanpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1982},{143,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/card_ht_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1666},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/card_ht_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1878},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/card_ht_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,1666},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/card_ht_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1878},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/card_ht_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1452},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ffl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{1440,712}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1440,712}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1452},{159,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,206}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ht_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1925},{59,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ht_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,344},{59,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ht_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,404},{59,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ht_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,411},{59,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ht_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,450},{59,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/img_box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1660},{118,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,99}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/img_box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1606},{115,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,102}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/img_yingliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1965},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/paibe_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1664},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/paibei.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1876},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1811},{61,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/text_box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1716},{87,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/text_box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1660},{114,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/tishi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,265},{96,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,71}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/tishi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,337},{96,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,71}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/tishi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1660},{132,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/wenzitishi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1624},{522,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{522,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/btn_qcz.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1524},{74,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,136}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/btn_yjgm.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1524},{81,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,136}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/img_qipao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,344},{68,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1848},{169,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/beishu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1452},{64,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,193}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/img_box3_opened.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1452},{164,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/img_box4_opened.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1452},{164,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/tishi_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,337},{96,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,71}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/text_box0.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,4},{86,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/img_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1716},{119,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/SmallSize_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1660},{146,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1785},{189,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1782},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1814},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1893},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1779},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1968},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1890},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,4},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,4},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,4},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,115},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,115},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,115},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,190},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,226},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/ensg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,226},{67,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCard/img_box0.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1660},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RechargeFlopCard.png</string>
			<key>realTextureFileName</key>
			<string>RechargeFlopCard.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>