<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/beimianpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1728},{151,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/dianjfp.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1078},{143,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,662},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,834},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,868},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1006},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,990},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1040},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1162},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1178},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1212},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1334},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1298},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1350},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1384},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1506},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1470},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1522},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1556},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1678},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1493},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1642},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/eff_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1694},{168,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,184}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/guang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{346,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,324}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,2},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,2},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,222},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,222},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,330},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,550},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,648},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,770},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/huan_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,442},{231,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/ji_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1850},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/paihg.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,2},{159,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,206}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/z.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,212},{61,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,521}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/zmp.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,442},{158,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/czfflk_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,212},{323,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{323,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,539},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,564},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,330},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,442},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,737},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,857},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,882},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,662},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,760},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1055},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1175},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1200},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/fflwzsg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,980},{314,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/meihlk_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,2},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardAni/pkhg.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,212},{348,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RechargeFlopCardAni.png</string>
			<key>realTextureFileName</key>
			<string>RechargeFlopCardAni.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>