<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflcza.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,122},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,9}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflczb.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,138},{7,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,6}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflczc.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,140},{9,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,7}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflczd.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,122},{8,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,7}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflpa.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,81},{57,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,67}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflpb.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,156},{47,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflpc.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{60,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,69}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,81},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,4},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,122},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,213},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,122},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,45},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,4},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,86},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,177},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflsg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,218},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflwk_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,86},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/fflwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,45},{76,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,27}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/jinbeiguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,226},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/jjdwc_lizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,226},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RechargeFlopCardIconAni/wzhyy.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,156},{84,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RechargeFlopCardIconAni.png</string>
			<key>realTextureFileName</key>
			<string>RechargeFlopCardIconAni.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>