<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/RedPack100/100rmb.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1252},{223,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,77}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/100rmb_truth.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,4},{342,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,166}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/activity_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,4},{887,556}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{887,556}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/activity_explain.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,770},{612,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{612,311}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/aleady_rewarded.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,1331},{165,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/btn_Confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,1204},{339,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,67}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/btn_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1089},{679,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{679,82}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/btn_enable.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1126},{679,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{679,82}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{2010,178},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/btn_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,4},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/bubble_process.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,502},{129,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,51}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/dtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,674},{86,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/explain_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,568},{842,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{842,550}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/lucky_best.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,645},{121,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/process.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1217},{583,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{583,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/process_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1251},{583,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{583,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/queren.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,599},{75,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/redpack_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,712},{416,484}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{416,484}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/redpack_break.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{759,758}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{759,758}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/redpack_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1378,1126},{147,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/redpack_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,343},{115,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,329}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/redpack_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,343},{98,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/redpack_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,343},{115,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,329}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/redpack_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1252},{284,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,32}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/reward_user_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1179},{650,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{650,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/RewardNow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,1279},{339,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,67}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/rmb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,36},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/weniz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,1204},{162,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/weniz9.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1216},{681,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{681,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/wenzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,680},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/wenzi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,1247},{162,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/wenzi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,1252},{172,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/wenzi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1912,561},{126,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/wenzi6.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1292},{270,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/wenzi7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,1285},{172,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/wenzi8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,1298},{172,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100/white_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,178},{336,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,157}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RedPack100.png</string>
			<key>realTextureFileName</key>
			<string>RedPack100.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>