<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/gx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,699},{685,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{685,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,1922},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,1725},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,1725},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1381},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1381},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,476},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,476},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,157},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,574},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,725},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,876},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,574},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,473},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,255},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/lz_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,157},{147,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1943},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1530},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1844},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1942},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1628},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1726},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1824},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,2},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,699},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,2},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,699},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,2},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,699},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/dianjianniu/sg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,2},{693,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/dc.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,999},{82,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,104}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/g2_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,284},{185,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,154}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/guang1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,284},{185,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,188}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/gx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,1922},{345,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/gxhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,1994},{126,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/h_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,1396},{325,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{325,216}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/h_k_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,615},{380,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/h_k_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{551,609}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{551,609}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/h_k_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1629},{420,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,310}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/h_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1628},{406,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,212}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/h_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,615},{406,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,473}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/jg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,1994},{179,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/ms.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,999},{94,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/paixing_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,2},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/sq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,2020},{121,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,2},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,42},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,82},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,122},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,162},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,202},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,242},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,282},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,322},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/x_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,362},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/kaihongbao/zg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,1396},{257,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,252}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/quxian/h1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,1725},{140,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,286}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/quxian/h2.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1092},{434,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{434,286}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/quxian/h3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1092},{533,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{533,249}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/quxian/h4.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1083},{294,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,286}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RedPack100Ani/quxian/slf_lizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,2},{278,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RedPack100Ani.png</string>
			<key>realTextureFileName</key>
			<string>RedPack100Ani.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>