<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_BackBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,616},{124,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{1030,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1030,369}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_BtnBG_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,579},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_BtnBG_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,782},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,4},{471,471}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{471,471}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Silver1.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,381},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Silver2.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,527},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Silver3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,1147},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Silver4.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,673},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,345},{109,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Ticket1.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,819},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Ticket2.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,900},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Ticket3.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,900},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Ticket4.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,965},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,206},{462,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_ToPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,462},{109,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_ToSeize.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,492},{109,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_ToUse.png</key>
			<dict>
				<key>frame</key>
				<string>{{1868,609},{109,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/1tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,1046},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/30tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,1046},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/7tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1073},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Lighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1073},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Rose.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1073},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,307},{462,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,381},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,381},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,381},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,381},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,381},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,483},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,483},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1516,598},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,598},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/gx_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,656},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,656},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,771},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,771},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,944},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,944},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,554},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,554},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,554},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,554},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,554},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,727},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,727},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,727},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,727},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,727},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,829},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,829},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,900},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,900},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/lz_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,900},{168,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_ToExchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{1868,726},{109,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,985},{154,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_ToExchange2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,782},{109,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_CardMarker.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1002},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/Img_LightBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,408},{182,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/kuang/Img_LightBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,408},{182,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,185}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Prop_Baoxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,1111},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Prop_Jiacheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1192},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Prop_Liansheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1192},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Member.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1365},{85,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_RedPacket_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1219},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,4},{520,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Title4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,105},{520,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,93}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_RedPacket_Vocher.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1219},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_RewardType_Lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1337},{86,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,88}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_RewardType_LuckyCat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,408},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_TimingTicket1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,483},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_ToApply.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,748},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1821,1046},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/gou_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1821,1112},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/takeextra.png</key>
			<dict>
				<key>frame</key>
				<string>{{1821,843},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_Phone.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1219},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/RewardCtrl/Img_SkipGuide.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,206},{131,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RewardCtrl.png</string>
			<key>realTextureFileName</key>
			<string>RewardCtrl.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>