<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/room_img/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,906},{87,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_basedeposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,307},{232,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_classicmode.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,975},{66,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_classic.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,798},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_doubleby5.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,1319},{121,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_doubleticket.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,999},{70,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_joy.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,906},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_noshuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1014},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_timinggame.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1319},{142,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_gamemode_arena.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,4},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_gamemode_classic.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{298,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,223}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_gamemode_joy.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,232},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_gamemode_noshuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,4},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_icon_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,266},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_joymode.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,890},{66,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_noshuffle_basedeposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,372},{232,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_noshuffle_roombk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,438},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_noshuffle_roombk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,644},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_noshuffle_roombk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,677},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_noshuffle_roombk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,850},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_offlineroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,818},{184,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_roombk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,883},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_roombk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,1056},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_roombk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1089},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_roombk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,1262},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_scoreroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,235},{257,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_sliver_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,235},{32,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_tab_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,4},{91,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,470}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_tab_classic.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,482},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_tab_classic_push.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,640},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_tab_noshuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,502},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_tab_noshuffle_push.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,502},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_juniorroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1428},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_masterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1428},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_middleroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,2086},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_newcomerroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1386},{202,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_noshuffle_juniorroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,2086},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_noshuffle_masterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2119},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_noshuffle_middleroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,2119},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_noshuffle_seniorroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,2101},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_seniorroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,2141},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/text_noshuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1166},{98,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_noshuffle_roombk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1295},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_roombk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1468},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/text_jisu.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,933},{66,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_tab_jisu.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,660},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_tab_jisu_push.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,660},{90,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_jisu_roombk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1501},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_jisu_roombk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1483},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_jisu_roombk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1674},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_jisu_roombk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1707},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_jisu_juniorroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,2141},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_jisu_masterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,2174},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_jisu_middleroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,2174},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_jisu_seniorroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,2101},{127,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_jisu.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,890},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_jisu_basedeposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,437},{232,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_gamemode_jisu.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,232},{300,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,220}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_jisu_supermasterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,2101},{127,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_noshuffle_supermasterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,2154},{127,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_supermasterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,2156},{127,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/text_timing.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1122},{97,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_jisu_quanminroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,2156},{127,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_noshuffle_roombk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1689},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_zongshiroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,2207},{127,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_jisu_zongshiroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,2196},{127,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_text_noshuffle_zongshiroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,2196},{127,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_roombk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1880},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_roombk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1913},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_noshuffle_roombk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1895},{300,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_limittime.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1093},{70,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_timetip.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1209},{198,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_timetip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1264},{198,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/img_flag_guizu.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,998},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/room_img/btn_zdms.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,460},{302,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>room_img.png</string>
			<key>realTextureFileName</key>
			<string>room_img.png</string>
			<key>size</key>
			<string>{1024,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>