<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/ScoreAniPic/score_coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ScoreAniPic/score_coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ScoreAniPic/score_coin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ScoreAniPic/score_coin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ScoreAniPic/score_coin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ScoreAniPic/score_coin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ScoreAniPic/score_coin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ScoreAniPic.png</string>
			<key>realTextureFileName</key>
			<string>ScoreAniPic.png</string>
			<key>size</key>
			<string>{1024,64}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
</plist>