<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Shop_Img/1day.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,928},{86,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/30day.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,928},{86,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/7day.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,654},{86,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/add_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,909},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/add5_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,723},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/buy_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,2},{168,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/buy_tools_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,654},{270,458}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,458}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/card_maker.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,770},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/circle_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,928},{222,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/discount.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,353},{141,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/discount_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,975},{46,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,30}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Game_PlayerNameBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,598},{124,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Dress_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,598},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Dress_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,598},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Silver_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,638},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Silver_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,708},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Tools_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,778},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Tools_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,848},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_VIP_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,598},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_VIP_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,598},{67,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/icon_Vip_ji_lz_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,284},{122,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/icon_Vip_nian_lz_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,453},{122,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/icon_Vip_yue_lz_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,284},{122,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,174},{175,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/num_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,988},{27,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/price_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,971},{54,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/shop_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,2},{90,592}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,592}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/shop_conner_firstcharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,928},{87,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,113}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/shop_conner_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,789},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/shop_conner_weigh.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,897},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/shop_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,639},{258,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,266}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/sub_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,909},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/text_shop_boxVIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{849,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{849,148}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/text_shop_boxVIP_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,466},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/text_VIP_privilege.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,498},{152,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,45}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/title_dress.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,598},{67,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/title_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,598},{85,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/title_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,598},{67,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/title_tool.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,598},{67,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/title_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,598},{67,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/timinggame_ticket.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,154},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/shop_conner_onlyone.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,909},{104,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Lighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,895},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Lighting100.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,598},{168,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,139}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/LightingX.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,154},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Rose.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,310},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/title_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,918},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/title_tongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,413},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Exchange_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,413},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Exchange_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,154},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Tongbao_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,224},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Hall_Tab_Tongbao_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,154},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Shop_Img.png</string>
			<key>realTextureFileName</key>
			<string>Shop_Img.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>