<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/btn_fj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,591},{549,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{549,137}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/btn_fj_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,513},{549,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{549,138}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/btn_fj_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1144},{549,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{549,137}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/btn_tiren.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1203},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/btn_yaoqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,963},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/btn_zb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1866},{225,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/btn_zb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1954},{225,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_dy.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1258},{35,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1297},{35,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_fj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,2},{585,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{585,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_js_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1066},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_js_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1103},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1697},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,2},{176,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,2}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_wzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,908},{104,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_yzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1016},{104,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/wddw_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,513},{578,446}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,446}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/xingxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,591},{179,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/text_zdms.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,774},{130,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/btn_qxzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1697},{225,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_BtnEnable.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,513},{679,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{679,82}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_ruleBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{834,507}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{834,507}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Team2V2Room/img_SureBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1124},{75,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Team2V2Room.png</string>
			<key>realTextureFileName</key>
			<string>Team2V2Room.png</string>
			<key>size</key>
			<string>{1019,2040}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>2040</integer>
		</dict>
	</dict>
</plist>