<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/TimingGame/baoming_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1219},{834,507}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{834,507}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/bg_dingshisai.png</key>
			<dict>
				<key>frame</key>
				<string>{{2005,678},{242,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/bg_jingjichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2005,924},{242,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_baoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1963},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_bmjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1963},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_cebiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1912},{214,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_cebiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,1835},{214,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1937,1947},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1974,1784},{65,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,56}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_dingshisai.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,631},{300,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,378}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1974,1844},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_jingjichang.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,631},{300,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,378}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_kabs.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,631},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/hfds_baoming_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1075,625}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1075,625}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/hfds_baoming_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1976},{747,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{747,67}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_jiangbei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,1947},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_jiangbei_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1835},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_jiangbei_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,1835},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_jingxingzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1814,1784},{156,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,149}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_mian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2005,2},{672,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{672,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_mian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1852},{675,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{675,56}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2043,2},{673,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{673,3}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_xiaoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,935},{281,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,242}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_yinghuafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,1835},{156,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,149}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/paihangbang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,2},{1009,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1009,595}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,1937},{137,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/shuoming_bg_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,679},{610,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{610,1}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/text_bisaiguize.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1784},{610,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{610,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/text_bisaijiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1912},{610,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{610,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/text_bmcg.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1784},{610,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{610,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,1835},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/huafei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1974,1903},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/huafei_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,1963},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/huafei_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,2001},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/huafei_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,2001},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/huafei_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,2001},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_phb.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,714},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_tcbs.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,797},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_xjks.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,880},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/dqjf_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,2},{1213,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1213,321}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_dqjf.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1784},{580,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{580,188}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_exchticket_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,2001},{57,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_ybm.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,963},{195,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/img_TimingGameRewardDescLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{2005,1170},{610,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{610,1}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_dingshisai_chaoge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,1015},{300,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,378}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGame/btn_dingshisai_longqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1421,1219},{300,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,378}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TimingGame.png</string>
			<key>realTextureFileName</key>
			<string>TimingGame.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>