<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1879},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1084},{170,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1084},{857,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{857,473}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_jiaobiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,1807},{126,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_jiaobiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,243},{126,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_piao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1597},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_piao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1751},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_piao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1724},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/Img_Forever.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1196},{46,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/Img_LimitTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1255},{46,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_only_one.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,324},{126,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,79}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_btn_take.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1256},{170,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,62}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1428},{167,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,264}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/baoxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1879},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/baoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1684},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/baoxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1807},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/baoxiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1684},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1081,650}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1081,650}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/jingdu_1.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{476,1411},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/jingdu_2.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{476,1445},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/jingdutiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2003},{590,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{590,10}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/jingdutiao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2015},{590,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{590,10}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/mengban_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1314},{95,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,21}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/quduiju.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1980},{152,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,67}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/renwu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1084},{190,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,250}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/suo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1935},{86,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/suo_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,155},{86,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/weiwancheng.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{526,1597},{152,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,63}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/yijingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,1943},{86,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,51}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/yilingqu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1},{152,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,63}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/closebtn.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{845,155},{74,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,75}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/wenziqipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1930},{78,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,88}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/freeticket.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,405},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/dijia_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1943},{302,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/dijiamenpiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1084},{110,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,29}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/lijiqianggou.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1943},{131,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/g_img_piao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1852},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/img_box1_opened.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1276},{164,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/img_box2_opened.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1276},{164,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/img_box3_opened.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1412},{164,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/img_box4_opened.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1548},{164,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,134}</string>
			</dict>
			<key>hallcocosstudio/images/plist/TimingGameShop/doing.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{845,1},{152,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,63}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TimingGameShop.png</string>
			<key>realTextureFileName</key>
			<string>TimingGameShop.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>