<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,2},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,109},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,109},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,216},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,216},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,323},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,323},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,430},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,430},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,537},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,537},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,644},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/0_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,644},{396,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,103}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/dw.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,157},{110,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,140}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/h_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,751},{351,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,115}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/landeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,2},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/niu_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,301},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/paixing_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,2},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/sg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,870},{351,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,114}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/xin.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,114},{18,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,31}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ValuablePurchaseAni/yinzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,70},{51,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ValuablePurchaseAni.png</string>
			<key>realTextureFileName</key>
			<string>ValuablePurchaseAni.png</string>
			<key>size</key>
			<string>{1023,986}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>986</integer>
		</dict>
	</dict>
</plist>