<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1892},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/cztq_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1280,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,720}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/cztq_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1298},{700,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,144}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_card_month.png</key>
			<dict>
				<key>frame</key>
				<string>{{1591,2},{289,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,417}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_card_super.png</key>
			<dict>
				<key>frame</key>
				<string>{{1591,423},{289,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,417}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_card_super_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,2},{301,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,453}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_card_week.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,459},{289,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,417}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_once.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,1260},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_daily.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1260},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/btn_month.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,1179},{221,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,77}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/btn_super.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1179},{221,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,77}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/btn_week.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1179},{223,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,81}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_sliver_month.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1781},{67,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_sliver_super.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1843},{66,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/img_sliver_week.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1905},{66,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/kk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,844},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1179},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1236},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,726},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,783},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1943},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1892},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1943},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1949},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,1963},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1963},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1536},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1593},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,1298},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,1215},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1311},{162,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,844},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,844},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,726},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,990},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,990},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1293},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1293},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1293},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1050},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,1325},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1325},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1446},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1446},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1628},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,1628},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1628},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1608},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1608},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1608},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,880},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,880},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,1179},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,1311},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,1311},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1651,1311},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lx_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,1311},{46,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,331}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,2},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,164},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,326},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,488},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,650},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,812},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,844},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,974},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,1136},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,726},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,888},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,1050},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,1212},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1374},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/lz_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1446},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/niu_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,880},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1006},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1006},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,726},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,858},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,726},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,858},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1628},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1446},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1760},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1660},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,1385},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1179},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1517},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,1646},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/sg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1792},{425,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,128}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/xin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,946},{26,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/xin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,883},{30,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,27}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,914},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WeekMonthSuperCard/xx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,974},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>WeekMonthSuperCard.png</string>
			<key>realTextureFileName</key>
			<string>WeekMonthSuperCard.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>