<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/WinningStreak/ActivityTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1401},{429,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{887,569}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{887,569}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Bronze1.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,112},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Bronze2.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,210},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_BronzeL.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1024},{161,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_BronzeN.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1098},{161,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_DiamodL.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1106},{161,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_DiamondN.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1180},{161,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_GoldL.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1188},{161,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_GoldN.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1262},{161,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_kqtzBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1024},{327,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_SilverL.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1270},{161,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Btn_SilverN.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1344},{161,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1240},{140,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,990},{59,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,48}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/CurrentJackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1357},{227,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,308},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,406},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/GameBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,4},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,504},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,602},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,990},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/icon_deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,896},{94,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/NineWinningStreak_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1315},{411,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/NotActivityTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1024},{327,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,602},{888,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{888,414}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Play.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1132},{327,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Silver1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,700},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Silver2.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,798},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/StreakReward.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1316},{121,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Take.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1132},{267,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1240},{447,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{447,67}</string>
			</dict>
			<key>hallcocosstudio/images/plist/WinningStreak/WinningStreak_Taked.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,1045},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>WinningStreak.png</string>
			<key>realTextureFileName</key>
			<string>WinningStreak.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>