<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{1150,687}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1150,687}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/box.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,849},{49,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,781},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_1f.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,781},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,4},{140,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_2f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,162},{140,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,340},{141,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_3f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,498},{141,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,150}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,797},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_4f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,797},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,4},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_5f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,172},{150,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,4},{140,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_6f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,172},{140,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,674},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_7f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,842},{141,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,160}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,340},{150,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,159}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_8f.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,507},{150,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,159}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,699},{220,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,310}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn_bg_9f.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,699},{220,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,310}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,781},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/processbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,982},{306,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/processbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,982},{306,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,949},{481,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{481,25}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,699},{426,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{426,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/watchvideotakedeposit/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,699},{306,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wvtd.png</string>
			<key>realTextureFileName</key>
			<string>wvtd.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>