<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\CocosMyGame\runtime\MyGame.exe</StartProgram>
    <StartArguments>-workdir F:\CocosMyGame\scripts</StartArguments>
    <StartWorkingDirectory>F:\CocosMyGame\scripts</StartWorkingDirectory>
  </propertyGroup>
</Project>