<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,2},{346,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,418}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,2},{346,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,418}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,424},{346,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,418}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,424},{346,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,418}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_box_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,403},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_box_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,2},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,1106},{263,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_btn_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,816},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_btn_qw.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,900},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_Cat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1106},{206,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,214}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,501},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_Completed.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,984},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,125},{50,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_guanggao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,686},{326,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,365}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_guanggao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,686},{326,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,365}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_guanggao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,686},{326,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,365}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_guanggao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,846},{326,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,365}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,380},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_huodong_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1183,680}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1183,680}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_img_ygrw_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1963,323},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_img_yuansu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,441},{53,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,19}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_img_yuansu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,669},{79,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,59}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_jdt_ys_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,2},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_jdt_ys_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,45},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_jdt_ys_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1055},{436,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,16}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_jdt_ys_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1055},{432,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,13}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_jdt_ys_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,88},{30,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,33}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_jdt_ys_bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,846},{530,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{530,162}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_QiPao.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,686},{182,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,126}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_Running.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,1194},{175,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_rw_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1012},{529,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{529,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_rw_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,589},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_rw_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,1278},{196,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,25}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_rw_jdt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,1307},{196,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,25}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1966,115},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,271},{70,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,105}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_tubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,501},{58,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_tubiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,464},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_yeqian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,115},{73,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,152}</string>
			</dict>
			<key>hallcocosstudio/images/plist/LuckyCat/LuckyCat_yeqian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1966,169},{71,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LuckyCat.png</string>
			<key>realTextureFileName</key>
			<string>LuckyCat.png</string>
			<key>size</key>
			<string>{2047,1334}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>1334</integer>
		</dict>
	</dict>
</plist>