<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/wkg_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,2},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{291,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,70}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,2},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,2},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,74},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,76},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,76},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,76},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,76},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,74},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,146},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,146},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,218},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,218},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,290},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,290},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,298},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyl_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,298},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqyllb.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,362},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqylxxa.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,50},{34,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,37}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_yqyl/yqylxxb.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,2},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Ani_yqyl.png</string>
			<key>realTextureFileName</key>
			<string>Ani_yqyl.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>