<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/lxbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,298},{91,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,90}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/lxwkg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{147,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,159}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/lywkp_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,165},{147,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,159}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/lza.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,35},{32,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,38}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/lzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,35},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/lzc.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,2},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/lzd.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,115},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/paixing_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,328},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/sda.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,99},{85,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,29}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/sdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,2},{85,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,29}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/shzg.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,2},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/wzwk.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,141},{109,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,29}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjba.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,503},{10,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,7}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbb.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,503},{10,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,7}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbc.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,483},{11,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,10}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbd.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,483},{12,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,15}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbe.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,483},{12,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,15}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbf.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,483},{17,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,15}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,483},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbh.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,498},{11,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,10}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,483},{9,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,11}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbjbj.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,483},{15,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,17}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/xyhbty.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,141},{113,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,120}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/yqpds.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,483},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/yqpdx.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,2},{50,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,56}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/yqylfg.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,265},{110,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,29}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/yqylty.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,265},{115,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,111}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/yzg.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,77},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_invitegift_icon/hysl.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,62},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Ani_invitegift_icon.png</string>
			<key>realTextureFileName</key>
			<string>Ani_invitegift_icon.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>