<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_DonateLoading/Donate_Loading1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_DonateLoading/Donate_Loading2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,2},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_DonateLoading/Donate_Loading3.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,2},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_DonateLoading/Donate_Loading4.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,2},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_DonateLoading/Donate_Loading5.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,2},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_DonateLoading/Donate_Loading6.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,2},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_DonateLoading/Donate_Loading7.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,2},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_DonateLoading/Donate_Loading8.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,2},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Ani_DonateLoading.png</string>
			<key>realTextureFileName</key>
			<string>Ani_DonateLoading.png</string>
			<key>size</key>
			<string>{248,30}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>30</integer>
		</dict>
	</dict>
</plist>