<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/bjwg.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,2},{789,714}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{789,714}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2153,2448},{191,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/coin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1266},{171,191}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/coin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2181},{144,191}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/coin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1909,1898},{98,191}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/coin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1256},{21,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/coin6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,1994},{98,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/coin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,2189},{144,191}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/coin8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,2195},{171,191}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/csjg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2135,1343},{220,56}}</string>
				<key>offset</key>
				<string>{-3,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/csjgfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,1230},{251,87}}</string>
				<key>offset</key>
				<string>{-3,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/dishg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{805,805}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{805,805}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/djdg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1256},{539,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{539,375}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/djjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1256},{220,55}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/djjlfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,1485},{250,87}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/g_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,2181},{128,128}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/glzu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2396,2575},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/glzz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2449,2575},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/guang1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,2236},{177,177}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,188}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/hbd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,2},{447,608}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{447,608}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/hbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,453},{441,607}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,607}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/hbsg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,811},{441,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,460}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/hgfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,2382},{92,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,72}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/huangg.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1378},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,48}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/hydt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2135,898},{219,57}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/hydtfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,1390},{250,87}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/hyzl.png</key>
			<dict>
				<key>frame</key>
				<string>{{2135,1121},{218,57}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/hyzlhg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,1644},{250,87}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/kaizm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,2216},{201,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,202}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2044,2248},{49,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,2024},{50,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1266},{51,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2099,2093},{51,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2099,2205},{51,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,2246},{43,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,2136},{50,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2097,2317},{49,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,2093},{50,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2437,2180},{51,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2437,2292},{51,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2437,2404},{51,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,2358},{43,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,2104},{50,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2044,2360},{49,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,2147},{50,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,2270},{51,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,2365},{51,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lblg_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,2477},{51,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,108}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,1585},{32,334}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2100,1423},{30,337}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,2046},{31,336}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1704},{32,338}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,1390},{31,336}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2065,1423},{31,334}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,1730},{31,258}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1799},{29,263}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,2066},{29,263}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1923},{29,262}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2099,1764},{30,257}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2065,1761},{30,259}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2011,1992},{30,250}}</string>
				<key>offset</key>
				<string>{1,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2133,1834},{30,255}}</string>
				<key>offset</key>
				<string>{1,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/lizi_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2134,1567},{32,263}}</string>
				<key>offset</key>
				<string>{1,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,367}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/ph.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,898},{490,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,488}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/wjxa.png</key>
			<dict>
				<key>frame</key>
				<string>{{2421,2516},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/wjxb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2348,2571},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/wjxc.png</key>
			<dict>
				<key>frame</key>
				<string>{{2099,2025},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/wjxd.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1884},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/wjxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,2147},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/wsdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2084,898},{521,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{521,47}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2097,2429},{101,52}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,2241},{114,79}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,2359},{113,79}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,2270},{107,81}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,2270},{100,80}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,2270},{91,80}}</string>
				<key>offset</key>
				<string>{-11,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,2022},{86,78}}</string>
				<key>offset</key>
				<string>{-11,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,2478},{88,75}}</string>
				<key>offset</key>
				<string>{-15,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2348,2448},{83,62}}</string>
				<key>offset</key>
				<string>{-17,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xx_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2348,2514},{69,53}}</string>
				<key>offset</key>
				<string>{-23,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,85}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xxxa.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,1585},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xxxb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,1615},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,26}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xxxc.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,811},{17,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,18}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xxxd.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1446},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xxxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1469},{19,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,20}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/xxxf.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,832},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/yqq.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,720},{506,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{506,506}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2195,1420},{412,294}}</string>
				<key>offset</key>
				<string>{19,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,811},{451,319}}</string>
				<key>offset</key>
				<string>{21,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2215,465},{467,283}}</string>
				<key>offset</key>
				<string>{10,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2216,2},{459,271}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2196,936},{480,288}}</string>
				<key>offset</key>
				<string>{-7,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1450},{430,321}}</string>
				<key>offset</key>
				<string>{-11,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,1230},{419,351}}</string>
				<key>offset</key>
				<string>{-34,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1585},{319,380}}</string>
				<key>offset</key>
				<string>{-9,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1884},{314,382}}</string>
				<key>offset</key>
				<string>{-26,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2167,1836},{323,340}}</string>
				<key>offset</key>
				<string>{-38,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2333},{331,359}}</string>
				<key>offset</key>
				<string>{-49,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1799},{342,378}}</string>
				<key>offset</key>
				<string>{-58,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,1707},{311,341}}</string>
				<key>offset</key>
				<string>{-46,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1908},{329,353}}</string>
				<key>offset</key>
				<string>{-56,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,1390},{313,364}}</string>
				<key>offset</key>
				<string>{-83,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,2241},{264,268}}</string>
				<key>offset</key>
				<string>{-68,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2154,2180},{264,279}}</string>
				<key>offset</key>
				<string>{-78,33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1353},{264,289}}</string>
				<key>offset</key>
				<string>{-88,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,1044},{265,305}}</string>
				<key>offset</key>
				<string>{-98,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,720},{265,320}}</string>
				<key>offset</key>
				<string>{-106,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1274,1939},{252,281}}</string>
				<key>offset</key>
				<string>{-108,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1646},{257,289}}</string>
				<key>offset</key>
				<string>{-119,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,2386},{209,231}}</string>
				<key>offset</key>
				<string>{-103,-61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,2022},{210,228}}</string>
				<key>offset</key>
				<string>{-110,-83}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhipianf_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1266},{164,59}}</string>
				<key>offset</key>
				<string>{-94,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,404}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhyb.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1480},{220,53}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Animation/Ani_RedPacket/zhybfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,1739},{251,85}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,124}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Ani_RedPacket.png</string>
			<key>realTextureFileName</key>
			<string>Ani_RedPacket.png</string>
			<key>size</key>
			<string>{2500,2666}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2500</integer>
			<key>height</key>
			<integer>2666</integer>
		</dict>
	</dict>
</plist>