<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_id_egg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,422},{150,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,97}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_id_egg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,294},{31,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_id_egg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,294},{30,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_id_egg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,294},{31,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_id_egg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,675},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_id_egg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,270},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_id_egg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,270},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,43}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_prop_baoxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,228},{68,70}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_prop_First.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,70},{67,76}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,80}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_prop_liansheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,1},{67,78}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arena_prop_Scene.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,148},{78,62}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,80}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Arrow_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,363},{33,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,24}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_benju.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,591},{137,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,33}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_benju2.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,190},{137,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,33}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,329},{268,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,91}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_defendi.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,438},{442,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{442,151}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_defenkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,270},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1},{419,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{419,108}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_grade.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,363},{102,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,53}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_grade_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,1},{49,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,26}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_defen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,329},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,438},{235,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,193}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_egg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,103},{50,24}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,31}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_egg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,52},{49,25}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,31}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_egg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,155},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,31}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_egg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,207},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,31}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_egg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,259},{50,24}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,31}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_egg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,311},{50,24}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,31}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,398},{38,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,13}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_yuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,574},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_img_yuan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,574},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,311},{372,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,107}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_lose_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{622,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{622,118}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_progress bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,311},{302,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,32}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_progress bardi.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1},{308,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,37}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,591},{395,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,137}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,190},{309,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,102}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_win_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,625},{622,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{622,118}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_zongfen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,675},{182,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,49}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Athletics_zongfen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1},{182,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,49}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/bk_level_rewards.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1},{267,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,51}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/guang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1},{353,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,187}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/guang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,422},{353,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,187}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/img_arenalevel_progressbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,745},{1250,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1250,11}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/Img_ProgressBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,185},{65,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,94}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/img_roomgrade_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,270},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/img_roomgrade_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,270},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/img_roomgrade_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,270},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/img_roomgrade_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,270},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>GameCocosStudio/plist/ArenaStatement/img_roomgrade_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,270},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ArenaStatement.png</string>
			<key>realTextureFileName</key>
			<string>ArenaStatement.png</string>
			<key>size</key>
			<string>{1280,757}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1280</integer>
			<key>height</key>
			<integer>757</integer>
		</dict>
	</dict>
</plist>