<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/Game_img/attention.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,2},{251,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,80}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/box_inside_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,446},{194,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,25}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/btn_bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,804},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/btn_bomb_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,692},{131,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,59}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,445},{72,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,33}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/cardMaker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,2},{476,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,64}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/cardMaker_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,70},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Expression.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,438},{91,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,25}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,321},{112,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,122}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,644},{96,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,41}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Goldeneggs_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,632},{86,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,94}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Goldeneggs_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,632},{86,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,94}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Hate.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,438},{95,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,93}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_libao.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,437},{98,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,92}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Lighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,452},{95,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,93}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,333},{78,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,110}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Menu_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,328},{78,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,120}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Mission_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,637},{82,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,90}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Mission_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,701},{82,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,90}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Networking.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,732},{87,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,77}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Praise.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,799},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Praise.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,549},{95,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,93}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Praise_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,843},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Reopen.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,743},{89,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,77}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Rose.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,563},{95,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,93}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,321},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_CardBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,820},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_ChatPapo.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,70},{224,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,120}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,195},{115,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,155}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Icon_First.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,660},{88,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,98}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Icon_Last.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,445},{88,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,98}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Icon_Second.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,535},{88,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,98}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_CardL.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,813},{53,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,60}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_Gong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,730},{83,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,91}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_Kang.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,646},{95,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,93}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_KangShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,476},{154,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,28}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_Mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,194},{130,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,122}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_Silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,521},{43,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,32}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_Skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,457},{126,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,78}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_Start.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,587},{126,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,78}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Img_Vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,787},{87,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,78}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_PlayerInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{365,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,315}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_PlayerNameBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,634},{119,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,26}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_PlayerScoreBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,257},{196,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,80}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_PlayerScoreBGLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,457},{2,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,70}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Hall_Btn_QuickCharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,752},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/HeadBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,536},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/hengxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,566},{122,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/huase1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,808},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/huase1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,826},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/huase2.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,827},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/huase2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,882},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/huase3.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,824},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/huase3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,869},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/huase4.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,864},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/huase4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,880},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/img_pai.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,752},{43,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,49}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/jingjichangbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,640},{88,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,71}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,357},{28,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,21}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/nothing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,438},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/OpponentText.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,413},{24,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,48}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/PlayerInfo__Btn_Shrink_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,568},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/PlayerInfo__Btn_Shrink_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,820},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/PlayerInfo__Btn_Stretch_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,825},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/PlayerInfo__Btn_Stretch_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,870},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/PlayerInfo_Headring.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,717},{111,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,111}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/PlayerInfo_OwnScore_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,2},{326,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,83}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/PlayerInfo_Score_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,447},{124,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,59}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/rank_tag.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,415},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/red_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,559},{33,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,22}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/SelfText.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,465},{24,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,46}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/shuxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,575},{122,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Silver_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,314},{77,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,22}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Silver_300.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,395},{77,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,22}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Silver_3000.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,332},{77,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,22}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/tonghuashun.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,332},{230,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,55}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/touxiangkuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,537},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/touxiangkuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,625},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_Robot.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,320},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Icon_Third.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,533},{88,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,98}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Rule_btn_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,446},{113,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,122}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/liansheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,720},{85,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,89}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Img_TipBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,744},{78,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,50}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Img_TipArrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,328},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Img_GoldeggsLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,314},{128,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,130}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Hall_LbsBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,515},{24,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,40}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Hall_Btn_Friends2.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,194},{72,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,135}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/HAll_Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,809},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_PlayerInfoPraiseBG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,533},{61,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,25}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_xuanzhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,722},{78,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,86}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Game_Btn_QuickColor.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,723},{93,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,77}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/AutoSupply_btn_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,321},{113,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,122}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/hongdian_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,389},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>GameCocosStudio/plist/Game_img/Img_Mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,70},{254,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game_img.png</string>
			<key>realTextureFileName</key>
			<string>Game_img.png</string>
			<key>size</key>
			<string>{1024,936}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>936</integer>
		</dict>
	</dict>
</plist>