<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Comfort.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,103},{197,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,203},{197,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,303},{197,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,94}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Match.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,204},{197,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_PayOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,303},{197,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,94}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Play_Cards.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,203},{197,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Send.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,404},{136,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,75}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_ShareFriends.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,103},{214,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_ShareWeChat.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,103},{214,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Show.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,203},{197,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,218},{197,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Start.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,303},{197,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,304},{197,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,96}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Tribute.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,318},{197,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,94}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Tips_Btn_Buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{212,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,97}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Tips_Btn_Continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,2},{212,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,97}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Tips_Btn_Exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,2},{212,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,97}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Tips_Btn_Pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,2},{212,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,97}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Tips_Btn_Safe.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,2},{212,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,97}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Nobigger.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,403},{190,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,85}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Tips_Btn_Store.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,103},{212,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,97}</string>
			</dict>
			<key>GameCocosStudio/plist/OprationBtn/Game_Btn_Leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,401},{196,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>OprationBtn.png</string>
			<key>realTextureFileName</key>
			<string>OprationBtn.png</string>
			<key>size</key>
			<string>{1020,497}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>497</integer>
		</dict>
	</dict>
</plist>