<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,1},{217,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,213}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_Congratulations.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,140},{155,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,44}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_Tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,164},{253,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,96}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_TipBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,220},{429,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,103}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_Img_rewardBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,1},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_Img_rewardExchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,1},{137,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,114}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_Img_rewardSilver.png</key>
			<dict>
				<key>frame</key>
				<string>{{1855,419},{111,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,72}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_Btn_Sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,325},{184,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,96}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Exchange_Img_Voucher.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,212},{51,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,33}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Game_title_complete2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{446,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{446,104}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Arena_id_Bigegg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,167},{161,161}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,170}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Arena_id_Bigegg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1763,1},{161,161}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,170}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Arena_id_Bigegg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,330},{161,161}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,170}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Arena_id_Bigegg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,325},{161,161}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,170}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Arena_id_Bigegg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,325},{161,161}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,170}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Arena_id_Bigegg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,1},{161,161}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,170}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Game_danBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,164},{161,156}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,170}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_Img_rewardExchange_Disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,327},{137,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,114}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/Upgrade_Img_rewardBG_Disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,1},{164,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,164}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/bar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,167},{301,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,43}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/bar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1647,212},{271,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,43}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/shenglibeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{1213,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1213,20}</string>
			</dict>
			<key>GameCocosStudio/plist/Upgrade/shibaibeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,449},{1213,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1213,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Upgrade.png</string>
			<key>realTextureFileName</key>
			<string>Upgrade.png</string>
			<key>size</key>
			<string>{2041,510}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2041</integer>
			<key>height</key>
			<integer>510</integer>
		</dict>
	</dict>
</plist>