<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gdj_00s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{468,78}}</string>
                <key>offset</key>
                <string>{-83,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,234},{468,78}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_00s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,130},{430,66}}</string>
                <key>offset</key>
                <string>{-64,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,244},{430,66}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_00s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{388,76}}</string>
                <key>offset</key>
                <string>{-43,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,234},{388,76}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_00s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{494,66}}</string>
                <key>offset</key>
                <string>{-96,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,244},{494,66}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,80},{172,104}}</string>
                <key>offset</key>
                <string>{-30,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,84},{172,104}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{172,70}}</string>
                <key>offset</key>
                <string>{-30,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,93},{172,70}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2},{176,162}}</string>
                <key>offset</key>
                <string>{-33,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,134},{176,162}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{170,150}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,134},{170,150}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,126}}</string>
                <key>offset</key>
                <string>{49,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,167},{370,126}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_chib1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,80},{72,70}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,147},{72,70}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_chib2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,82},{44,60}}</string>
                <key>offset</key>
                <string>{-73,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,107},{44,60}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,74},{52,82}}</string>
                <key>offset</key>
                <string>{-134,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,209},{52,82}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,80},{52,92}}</string>
                <key>offset</key>
                <string>{-134,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,198},{52,92}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_st.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{232,194}}</string>
                <key>offset</key>
                <string>{20,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,63},{232,194}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,82},{76,52}}</string>
                <key>offset</key>
                <string>{47,150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,24},{76,52}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{78,56}}</string>
                <key>offset</key>
                <string>{46,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,19},{78,56}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{70,70}}</string>
                <key>offset</key>
                <string>{87,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,86},{70,70}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,136},{58,58}}</string>
                <key>offset</key>
                <string>{90,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,89},{58,58}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_z1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,82},{34,38}}</string>
                <key>offset</key>
                <string>{133,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,93},{34,38}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_z2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,82},{28,48}}</string>
                <key>offset</key>
                <string>{140,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{476,117},{28,48}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_z3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,112},{24,14}}</string>
                <key>offset</key>
                <string>{141,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,137},{24,14}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_z4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,116},{28,10}}</string>
                <key>offset</key>
                <string>{146,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,132},{28,10}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_z_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,82},{36,46}}</string>
                <key>offset</key>
                <string>{135,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,115},{36,46}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
            <key>gdj_z_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,82},{32,54}}</string>
                <key>offset</key>
                <string>{139,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{473,111},{32,54}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guandan_j.png</string>
            <key>size</key>
            <string>{1988,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f433c38972ef3bf52f79577ed82a8c6$</string>
            <key>textureFileName</key>
            <string>guandan_j.png</string>
        </dict>
    </dict>
</plist>
