<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,109},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,216},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,323},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,2},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,109},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,216},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,323},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,2},{102,98}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,109},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,216},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,323},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,2},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,109},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,216},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,323},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,2},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,109},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,108},{102,98}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,214},{102,98}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,320},{101,98}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,216},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
			<key>hallcocosstudio/images/plist/ButtonAni/tskCopy/ll_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,323},{103,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>tskCopy.png</string>
			<key>realTextureFileName</key>
			<string>tskCopy.png</string>
			<key>size</key>
			<string>{612,428}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>612</integer>
			<key>height</key>
			<integer>428</integer>
		</dict>
	</dict>
</plist>